<div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
  <ul>
    <li class="active"><%= link_to "アカウント", :account_users %></li>
    <li><%= link_to "プロフィール", :profile_users %></li>
  </ul>
</div>